.products-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.product-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    transition: transform 0.3s ease-in-out;
}

.product-card:hover {
    transform: scale(1.05);
}

.product-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}

.product-info {
    text-align: center;
}

.product-info h3 {
    font-size: 18px;
    margin: 10px 0;
    color: #ffffff;
}

.product-info p {
    font-size: 16px;
    color: #ffffff;
}

.product-actions {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
    align-items: center;
}

.delete-btn, .view-btn, .edit-btn {
    color: #fff;
    padding: 10px 15px;
    border-radius: 10px;
    transition: background-color 0.3s;

}

.view-btn{
    background-color: #084e99;
}

.view-btn:hover {
    background-color: #007bff;
}

.delete-btn {
    background-color: #97343e;
}

.delete-btn:hover {
    background-color: #ff0019;
}

.edit-btn {
    background-color: #28a745;
}

.edit-btn:hover {
    background-color: #00ff37;
}
