a{
    color: white;
    font-family:cursive;
}

img{
    width: 110px;
}
.container {
    background-color: black;
    display: flex;
    justify-content: space-around;
    height: 14vh;
}

.container-logo {
    align-self: center;
}

.container-nav {
    display: flex;
    gap: 20px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

nav {
    align-self: center;
}

.selected {
    color: #003d92;
}