<!DOCTYPE html>
<html>
<head>
    <title>Seleção de Treinos</title>
</head>
<body>
    <h1>Selecione seus treinos</h1>
    <form action="{{ url_for('criar_treino') }}" method="POST">
        {% for category, exercises in trainings.items() %}
            <h2>{{ category }}</h2>
            {% for exercise in exercises %}
                <input type="checkbox" name="{{ category }}" value="{{ exercise[0] }}"
                {% if category in user_trainings and exercise[0] in user_trainings[category] %}checked{% endif %}>
                {{ exercise[0] }} - {{ exercise[1] }}<br>
            {% endfor %}
        {% endfor %}
        <button type="submit">Salvar Treinos Selecionados</button>
    </form>
</body>
</html>
